{% extends "layout.html.twig" %}
{% block content %}
<div class="row">
        <div class="col-xs-12">
        <form role="form" id="patternForm" method="POST" action="{{ url('api_pattern_transform') }}">
            <div class="alert alert-danger" id="cypherError" role="alert" style="display: none;"></div>
            <div class="form-group">
                <label for="patternBox">Enter your pattern here</label>
                <textarea id="patternBox" class="form-control" rows="6" placeholder="">// Example :
(p:Person {firstname: firstName, lastname: lastName } *35)-[:KNOWS *n..n]->(p)
(p)-[:HAS *n..n]->(s:Skill *20)
(c:Company {name: company, desc: catchPhrase} *20)-[:LOOKS_FOR_COMPETENCE *n..n]->(s)
(c)-[:LOCATED_IN *n..1]->(country:Country {name: country} *70)
(p)-[:LIVES_IN *n..1]->(country)</textarea>
            </div>

            <button type="submit" id="gen_button" class="btn btn-info">Generate</button>
        </form>
            </div>
    </div>
    <hr />

    <div class="col-xs-12">
        <div class="exportButtons">
            <ul class="list-inline">
                <li>Download as :</li>
                <li><form action="{{ path('api_export_graphjson') }}" target="_blank" method="POST" id="exportToGraphJson">
                        <input type="hidden" name="pattern" id="gjson_pattern"/>
                        <input type="submit" class="btn btn-info"value="GraphJSON">
                    </form>
                </li>
                <li><form action="{{ path('api_export_cypher') }}" target="_blank" method="POST" id="exportToCypher">
                        <input type="hidden" name="pattern" id="cypher_pattern"/>
                        <input type="submit" class="btn btn-info" value="Cypher Queries Statement">
                    </form>
                </li>
                <li> | </li>
                <li><button type="button" id="triggerPopBox" class="btn btn-success btn-circle" data-toggle="modal" data-target="#myModal">Populate your database !</button></li>
            </ul>

        </div>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Populate your database</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="populator" action="{{ path('api_export_populate') }}">
                            <div id="popResult"></div>
                            <div class="form-group">
                                <label for="location">Server address</label>
                                <input type="text" class="form-control" name="location" id="populate-location" value="http://localhost:7474">
                            </div>
                            <hr/>
                            Authentication (optional)
                            <div class="form-group">
                                <label for="user">User</label>
                                <input type="text" class="form-control" id="populate-user" name="user" placeholder="">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="populate-password" name="password" placeholder="">
                            </div>

                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" id="populate-empty-condition"> Clear database before load ?
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary" id="populate-submit">Populate</button>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" id="popFormClose" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div id="alchemy" class="alchemy"></div>
        </div>
        <div class="hidden" id="gjson_result"></div>
    </div>
{% endblock %}
