body { padding-top: 70px; }

#alchemy {
    height: 100px;
}

.CodeMirror {
    height: 200px;
}

#ggbrand {
    color: #1DC116;
}

#ggbrand span {
    color: #fff;
    font-size: 12px;
    margin-left: 2px;
}

#linkToRepo {
    font-size: 13px;
}

#linkToRepo:hover {
    text-decoration: none;
}

#desc {
    color: #fff;
}

#desc a.neolink {
    color: #1DC116;
}

.exportButtons {
    text-align: right;
    display: none;
}

#footer {
    background-color: #f5f5f5;
    padding-top: 20px;
    margin-top:10px;
}

#nodeInfo{
    position: absolute;
    z-index: 1;
    color: #fff;
    top: 5px;
    right: 5px;
    background-color: #ac4142;
    display: none;
}

.textright {
    text-align: right;
}

ul.dropdown-menu li{
    text-align: left;
}

input.noMit{
    background-color: #fff;
    border:none;
}

input.noMit:hover{
    background-color: #f7f7f7;
}

ul.navbar-nav > li > a.supportProjectLink{
    color: #ac4142;
}

#gen_blocked {
    margin-top:5px;
    display: none;
}

#modal-console-success{
    display: none;
}

#modal-console-error{
    display: none;
}

.docblock pre code{
    font-size: 11px;
}

#modal-populate-loading {
    display: none;
}

.vultr {
    margin-top: 17px;
    text-align: right;
}

.btn a {
    color: #fff;
}

#graphgist-content {
    text-align: left;
    overflow: hidden;
    overflow-y: scroll;
    max-height: 600px;
}

#graphgist-creator {
    text-overflow: ellipsis;

    /* Required for text-overflow to do anything */
    white-space: nowrap;
    overflow: hidden;
    max-height: 75px;
    overflow-y: scroll;
    background-color: #c0c0c0;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 3px;
    height: 3px;
}
::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}